<ion-view view-title="Games">
    <ion-content class="seasonPage" >
        <ion-list>
          <ion-item class="item-avatar item-icon-right" ng-repeat="game in s.games | filter:{ leagueID: s.currentLeague } | orderBy:'-datePlayed'" type="item-text-wrap"  on-tap="s.pickGame(game)">
            <h2>{{s.getPlayerName(game.player1)+' ('+game.scores[game.scores.length-1][0]+')'|titlecase}} - 
              {{s.getPlayerName(game.player2)+' ('+game.scores[game.scores.length-1][1]+')'|titlecase}}</h2> 

          
            <p>
            Date: {{game.datePlayed|dt}}<br>
           </p>
          </ion-item>
        </ion-list>


    
    </ion-content>
    <button class="fab button icon ion-plus-circled positive" ></button>
</ion-view>2